.about-container {
  width: 100%;
  margin: 3rem auto;
}

.about-container h1 {
  padding-left: 2rem;
  color: #029bd2;
}

.about-container h6 {
  padding-left: 2rem;
  color: var(--blue-dark);
  margin-bottom: .5rem;
}

.about-main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about-main img {
  max-width: 75%;
  margin-bottom: 2rem;
}

.about-text {
  width: 90%;
  border: .1rem solid #029bd2;
  border-radius: 6px;
  padding: 3rem 1rem 3rem 1rem;
  box-shadow: 2px 2px 5px #41414d6e;
  text-align: justify;
}


.about-text p {
  text-indent: 1.5rem;
  color: var(--blue-dark);
}
.about-text .signature {
  text-align: right;
  line-height: 3rem;
}

@media screen and (min-width: 768px) {
  .about-container{
    text-align: center;
  }

  .about-container h1 {
    font-size: 33px;
  }

  .about-container h6 {
    font-size: 20px;
  }
  .about-main {
    flex-direction: row-reverse;
  }
  .about-main img {
    max-width: 33%;
  }

  .about-main .about-text {
    width: 40%;
    margin-right: 1rem;
  }
}