.aboutContainer {
  width: 100%;
  margin: 3rem auto;
}

.aboutContainer h1 {
  padding-left: 2rem;
  color: #029bd2;
}

.aboutContainer h6 {
  padding-left: 2rem;
  color: var(--blue-dark);
  margin-bottom: .5rem;
}

.aboutMain {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.aboutMain img {
  max-width: 75%;
  margin-bottom: 2rem;
}

.aboutText {
  width: 90%;
  border: .1rem solid #029bd2;
  border-radius: 6px;
  padding: 3rem 1rem 3rem 1rem;
  box-shadow: 2px 2px 5px #41414d6e;
  text-align: justify;
}


.aboutText p {
  text-indent: 1.5rem;
  color: var(--blue-dark);
}
.aboutText .signature {
  text-align: right;
  line-height: 3rem;
}

@media screen and (min-width: 768px) {
  .aboutContainer{
    text-align: center;
  }

  .aboutContainer h1 {
    font-size: 33px;
  }

  .aboutContainer h6 {
    font-size: 20px;
  }
  .aboutMain {
    flex-direction: row-reverse;
  }
  .aboutMain img {
    max-width: 33%;
  }

  .aboutMain .aboutText {
    width: 40%;
    margin-right: 1rem;
  }
}
