.ebook-preview-container {
  position: relative;
  height: 100%;
  background: url('../../assets/bg_img1.jpg') no-repeat center center;
  background-size: cover;
  padding: 2rem 0 2rem 0;
}

.ebook-preview-overlay {
  position: absolute;
  background: linear-gradient( 180deg, #0e809fec 0%, #029CD2DB 80%) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  }

  .ebook-preview-wrapper{
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}


.ebook-preview-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.ebook-preview-content img {
  max-width: 75%;
  margin-top: 2rem;
  margin-bottom: .5rem;
}



@media screen and (min-width: 768px){
  .ebook-preview-content {
    width:80%;
    flex-direction: row;
  }
  .ebook-preview-content img {
    max-width: 50%;
  }
}



.list-container {
  width: 100%;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--blue-dark);
  text-align: left;
  box-shadow: 2px 2px 5px #41414d3d;
  margin-top: 1rem;

}
.list-container h2 {
  text-align: center;
  color: white;
  padding: .5rem;
  background-color: var(--red-light);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#last-item {
  border-style: none;
  padding-bottom: 1rem
}



.list-container ul li {
  list-style: none;
  line-height: 1.2rem;
  padding: .5rem;
  border: .1rem;
  border-style: none none solid none;
  font-weight: 600;
}

@media screen and (min-width: 768px){
  .list-container {
    width: 80%;
    margin: 0 auto 0 3rem ;
  
  }
  .list-container h2 {
    font-size: 1.2rem;
  }
}