.ebookhead-container {
  position: relative;
  height: 100%;
  background: url('/img/bg_img.png') no-repeat center center;
  background-size: cover;
  padding-bottom: 1rem;
}

.ebookhead-overlay {
position: absolute;
background: linear-gradient( 180deg, #0e809fec 0%, #029CD2DB 80%) no-repeat center center;
background-size: cover;
height: 100%;
width: 100%;
top: 0;
left: 0;
opacity: 0.8;
}

.ebookhead-wrapper {
  position: relative;
  top: 0;
  left:0;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 2rem;
}

.ebookhead-wrapper img {
  max-width: 10rem;
  margin: 2rem auto 2rem auto;
}


.ebookhead-section {
  position: relative;
}
