.footerContainer {
  height: 100%;
  background-color: var(--text);
  color: var(--background);
  text-align: center;
  padding: 1rem 0;
}

.footerContainer ul li {
  font-size: .8rem;
  margin: .2rem auto;
}

.footerContainer p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.copyRight {
  width: 80%;
  margin: 1rem auto;
  color: var(--green);
  font-size: .8rem;

}
