.heading-container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

.heading-container h1 {
  color: var(--blue-dark);
}

.heading-container h2 {
  color: var(--red-light);
  width: 90%;
  font-size:1.2rem;
}

.heading-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.heading-content h1 {
  font-size: 1.2rem;
  text-align: center;
  text-indent: 0;
  margin-bottom: 1.5rem ;
}

.heading-content img {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.heading-card {
  background-color: var(--white);
  color: var(--blue-dark);
  padding: 1.5rem 1rem 1.5rem 1rem;
  font-size: .9rem;
  border-radius: 6px;
  border: .1rem solid var(--blue-twitter);
  box-shadow: 2px 2px 10px #41414d63;
}

@media screen and (min-width: 768px) {
  .heading-content {
    flex-direction: row;
  }
  .heading-content img {
    max-width: 40%;
    margin: 0 auto;
  }

  .heading-card {
    max-width: 50%;
    margin: 0 auto;
  }
}