.homeheaderWrapper {
  position: relative;
  height: 100%;
  background: url('/img/family_pc.png') no-repeat center center;
  background-size: cover;
  padding-bottom: 1rem;
}

.homeheaderOverlay {
  position: absolute;
  background: linear-gradient(135deg, #042044 0%, #442744 100%) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.homeheaderContainer  {
  position: relative;
  top: 0;
  left:0;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.homeheaderContainer img {
  max-width: 10rem;
  margin: 2rem auto 2rem auto;
}

.homeheaderCection {
  width: 90%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.homeheaderSection h3 {
  color: var(--orange);
  text-shadow: 2px 2px 3px #41414d67;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.homeheaderBtn {
  background-color: transparent;
  border: .2rem solid var(--white);
  width: 50%;
  box-shadow: 1px 1px 10px #ffffff34;
  color: var(--gray-line);
  border-radius: 28px;
  padding: .7rem 1rem .7rem 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.homeheaderBtn:hover{
  border: none;
  background-color: var(--blue-dark);
  color: var(--gray-line);
  text-decoration: none;
  font-size: 1.1rem;
}

.homeheaderBtn i {
  margin-left: 1rem;
}
