.iframeContainer {
  margin: 0 auto;
}

.iframeContainer iframe {
  width: 100%;
  height: 11.5rem;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #41414d79;
  margin-top: 1rem;
}

@media screen and (min-width: 425px) {
  .iframeContainer iframe {
    width: 100%;
    height: 20rem;
  }
}

@media screen and (min-width: 768px) {
  .iframeContainer iframe {
    width: 58%;

  }
}
