.formContainer {
  position: relative;
  width: 90%;
  margin: 2rem auto 2rem auto;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 3px 3px 5px #41414d75;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}


.formContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formContainer h5 {
  color: var(--blue-dark);
  width: 90%;
  font-size: .9rem;
  margin: 0 auto .5rem auto;
}

.formContainer label {
  width: 90%;
  margin: 0 auto;
}

.formContainer input {
  padding-left: 1rem;
  width: 90%;
  background-color: #e2f3ff;
}

.formContainer .button {
  width: 90%;
  color: var(--background);
  background-color: var(--blue-guz);
  cursor: pointer;
  padding: 1rem .5rem 1rem .5rem;
  border: none;
  box-shadow: 2px 2px 5px #1757857a;
  border-radius: 6px;
  font: 500 1rem 'Roboto', sans-serif;
  font-weight: 600;
  font-size: .85rem;
  margin: .5rem 0;
}

.formContainer .button:hover{
  background-color: var(--blue-dark);
}

@media screen and (min-width: 768px) {
  .formContainer {
    max-width: 50%;
  }

  .formContainer h5 {
    font-size: 1.1rem;
  }
}
