.termsMain {
  background-color: var(--orange);
  padding-bottom: 1rem;

}

.termsHeader {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.termsHeader img {
  width: 50%;
  margin: auto;
  padding: 1rem;
}

.termsHeader h1 {

  color: var(--gray-line);
  margin-bottom: 0;
}

.termsText {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.termsText p {
  color: var(--blue-dark);
  font-size: .9rem;
  text-indent: 2rem;
  text-align: justify;
}

.termsText h2 {
  margin-top: .5rem;
  color: var(--gray-line);
  text-align: center;
  font-size: 1.5rem;
}

.termsText h3 {
  margin: .6rem 0;
  color: var(--red-light);
  font-size: 1.2rem;
  text-align: left;
}

.termsText ol li {
  color: var(--red-light);
  list-style-type: upper-latin;
  list-style-position: inside;
}

.termsText ol {
  border-radius: 8px;
  background: var(--gray-line);
  padding: 1rem;
}

.termsText li {
  font-size: .9rem;
  margin-bottom: .5rem;
}

.termsFooter {
  height: 15vh;
  background-color: var(--text);
  color: var(--background);
  text-align: center;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
