.testemonial-wrapper {
  position: relative;
  height: 100%;
  background: url('/img/mother_sunshine.jpg') no-repeat center center;
  background-size: cover;
  padding: 1rem auto;
}

.testemonial-overlay {
  position: absolute;
  background: linear-gradient(135deg, #042044 0%, #442744 100%) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.testemonial-container {
  position: relative;

}

.testemonial-cta {
  padding-top: 2rem;
}


.carousel-wrapper {
  position: relative;
  padding: 2rem 0;
  margin: 0 auto;

}

.carousel-content {
  max-width: 50%;
  border-radius: 1.5rem;
  margin: 1rem auto 1rem auto;
  box-shadow: 1px 1px 10px #ffffff17;
}

