@import "about";
@import "calltoaction";
@import "carousel";
@import "ebookhead";
@import "ebookhead2";
@import "footer";
@import "heading";
@import "homeheader";
@import "iframe";
@import "linkbio";
@import "signupform";
@import "success";
@import "termsofuse";
@import "testemonial";
@import "whatsapp";