.linkbio-container {
  position: relative;
  height: 100%;
  background: url('.././assets/bg_img.png') no-repeat center center;
  background-size: cover;
}

.linkbio-overlay {
position: absolute;
background: linear-gradient( 180deg, #0e809fec 0%, #029CD2DB 80%) no-repeat center center;
background-size: cover;
height: 100%;
width: 100%;
top: 0;
left: 0;
opacity: 0.8;
}

.linkbio-heading {
  position: relative;
  top: 0;
  left:0;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 2rem;
}



.linkbio-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.linkbio-header img {
  max-width: 8rem;
  margin: 1.5rem auto 0 auto;
}


.linkbio-heading {
  text-align: left;
}



.linkbio-heading a {
  font-weight: 600;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.3rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  width: 90%;
  margin: 1rem auto;
  border-radius: 8px;
  box-shadow: 2px 2px 10px #05055546;
  transition:  filter 0.2s;
}

.linkbio-heading a:hover {
  filter: brightness(90%);
}





.linkbio-heading i {
  padding-right: .5rem;
}

.linkbio-btn-1 {
  background: #405DE6;
  transition: filter 0.2s;
}
.linkbio-btn-2{
  background: #4267B2;
}
.linkbio-btn-3 {
  background: #4AC959;
}
.linkbio-btn-4 {
  background: #4695c8;
}
.linkbio-btn-5 {
  background: var(--orange);
}
.linkbio-btn-6 {
  background: var(--red-light);
}
.last-btn {
  background-color: var(--blue-guz);
}


@media screen and (min-width: 768px) {
  .linkbio-heading a {
    max-width: 50%;
  }
}
