.terms-main {
  background-color: var(--orange);
  padding-bottom: 1rem;
  
}

.terms-header {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.terms-header img {
  width: 50%;
  margin: auto;
  padding: 1rem;
}

.terms-header h1 {
  
  color: var(--gray-line);
  margin-bottom: 0;
}

.terms-text {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.terms-text p {
  color: var(--blue-dark);
  font-size: .9rem;
  text-indent: 2rem;
  text-align: justify;
}

.terms-text h2 {
  margin-top: .5rem;
  color: var(--gray-line);
  text-align: center;
  font-size: 1.5rem;
}

.terms-text h3 {
  margin: .6rem 0;
  color: var(--red-light);
  font-size: 1.2rem;
  text-align: left;
}

.terms-text ol li {
  color: var(--red-light);
  list-style-type: upper-latin;
  list-style-position: inside;
}

.terms-text ol {
  border-radius: 8px;
  background: var(--gray-line);
  padding: 1rem;
}

.terms-text li {
  font-size: .9rem;
  margin-bottom: .5rem;
}

.terms-footer {
  height: 15vh;
  background-color: var(--text);
  color: var(--background);
  text-align: center;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
