.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:1rem;
	right:.5rem;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.356);
  z-index:100;
}

.my-float{
	margin-top:16px;
}